{% extends "students/base.html" %}

{% block body%}

        <h3 class="m-4"> All Monthly Fees Records</h3>
        <div class="row">
            <div class="col-12">

                {% if students%}
                <div class="card bg-dark ms-4 me-4 mb-4" >
                    <div class="card-header">  <i class="fa-solid fa-list fa-lg"></i> Fees Records</div>
                    <div class="card-body">
                    
                      <p class="card-text">
                        <div class="table-responsive">
                            <table class="table table-dark">
                                <thead>
                                  <tr>
                                    <th scope="col">Student Number</th>
                                    <th scopr="col">Student Name</th>
                                    <th scope="col">Current Month</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Amount Paid</th>
                                    <th scope="col">Actions</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for student in students %}
                                        <tr class="table-dark">
                                            <td>{{ student.student_id.student_id }}</td>
                                            <td>{{student.student_id.first_name}} {{student.student_id.last_name}}</td>
                                            <td>{{ student.current_month }}</td>
                                            <td>{{ student.total_amount }}</td>
                                            <td>{{ student.paid_amount }}</td>
                                            <td>
                                                <button type="button" class="btn btn-outline-success me-1 " href="{% url 'view_student' student.id %}" data-bs-toggle="modal"
                                                data-bs-target="#myModel{{student.id}}"><i class="fa-solid fa-circle-info fa-lg" ></i></button>


                                                <!-- Modal- View Student -->
                                                <div class="modal" id="myModel{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title">Student: {{student.student_id.first_name}} {{student.student_id.last_name}}</h5>
                                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true"></span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                          
                                                            <ul class="list-unstyled">
                                                                <li>Student Id: <strong>{{student.student_id.student_id}}</strong></li>
                                                                <li>Student First Name: <strong>{{student.student_id.first_name}}</strong></li>
                                                                <li>Student Last Name: <strong>{{student.student_id.last_name}}</strong></li>
                                                                <li>Current Month: <strong>{{student.current_month}}</strong></li>
                                                                <li>Student Remaining Fees: <strong>{{student.left_amount}}</strong></li>
                                                            </ul>
                                                        </div>
                                                        <div class="modal-footer">
                                                       
                                                          <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>

                                                  <a class ="btn btn-outline-secondary me-1" href="{% url 'edit_student_fees' student.id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                                                
                                                
                                                  <button type="button" class="btn btn-outline-danger me-1 " data-bs-toggle="modal"
                                                  data-bs-target="#delete{{student.id}}"><i class="fa-solid fa-trash fa-lg"></i></button>
  
                                                  
                                                <!-- Modal- Delete Student -->
                                                <div class="modal" id="delete{{student.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title">Student: {{student.student_id.first_name}} {{student.student_id.last_name}}</h5>
                                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true"></span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                          
                                                        <p>Are you sure you want to delete this Fees For Student?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                       <form action="{% url 'delete-student-fees' student.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="submit" class="btn btn-outline-danger" value="Delete">
                                                       </form>
                                                          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                             
                                </tbody>
                              </table>
                        </div>
                      </p>
                    </div>
                </div>
                {% else %}
                <h5 class="alert alert-light ms-4 me-4 ">No Monthly Fees Record</h5>
                {% endif %}        
            </div>
        </div>
      

        {% endblock %}