{% extends "students/base.html" %}

{% block body%}

        <h3 class="m-4"> All Teachers</h3>
        <div class="row">
            <div class="col-12">

                {% if teachers %}
                <div class="card bg-dark ms-4 me-4 mb-4" >
                    <div class="card-header">  <i class="fa-solid fa-list fa-lg"></i> Teacher Records</div>
                    <div class="card-body">
                    
                      <p class="card-text">
                        <div class="table-responsive">
                            <table class="table table-dark" >
                                <thead>
                                  <tr>
                                    <th scope="col"></th>
                                    <th scope="col">NID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col">Total Addmission Fees</th>
                                    <th scope="col">Actions</th>
                                  </tr>
                                </thead>
                                <tbody >
                                    {% for teacher in teachers %}
                                        <tr class="table-dark" >
                                            <td class="align-middle">
                                              {% if teacher.image %}
                                
                                                  <div class="d-flex flex-row flex-nowrap">
                                                    <div class="img img-responsive"> 
                                                        <img class="img img-fluid" src="{{teacher.image.url}}" alt="" width="100">
                                                    </div>
                                                   
                                                </div>
                                              {% else %}
                                              <img class="rounded float-start" src="{{teacher.image}}" alt="" height="" width="100">   
                                              {%endif%}

                                            </td>
                                            <td class="align-middle">{{ teacher.NID }}</td>
                                            <td class="align-middle">{{ teacher.first_name }}</td>
                                            <td class="align-middle">{{ teacher.last_name }}</td>
                                            <td class="align-middle">{{ teacher.salary }}</td>
                                            <td class="align-middle">
                                                <button type="button" class="btn btn-outline-success me-1 " href="{% url 'view_teacher' teacher.id %}" data-bs-toggle="modal"
                                                data-bs-target="#myModel{{teacher.id}}"><i class="fa-solid fa-circle-info fa-lg" ></i></button>


                                                <!-- Modal- View Teacher -->
                                                <div class="modal" id="myModel{{teacher.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title">Teacher: {{teacher.first_name}} {{teacher.last_name}}</h5>
                                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true"></span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                          
                                                            <ul class="list-unstyled">
                                                                <li>Teacher Id: <strong>{{teacher.teacher_id}}</strong></li>
                                                                <li>Teacher First Name: <strong>{{teacher.first_name}}</strong></li>
                                                                <li>Teacher Last Name: <strong>{{teacher.last_name}}</strong></li>
                                                                <li>Teacher Salary: <strong>{{teacher.salary}}</strong></li>
        
                                                            </ul>
                                                        </div>
                                                        <div class="modal-footer">
                                                       
                                                          <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>

                                                  <a class ="btn btn-outline-secondary me-1" href="{% url 'edit_teacher' teacher.id %}"><i class="fa-solid fa-pen-to-square fa-lg"></i></a>
                                                
                                                
                                                  <button type="button" class="btn btn-outline-danger me-1 " data-bs-toggle="modal"
                                                  data-bs-target="#delete{{teacher.id}}"><i class="fa-solid fa-trash fa-lg"></i></button>
  
                                                  
                                                <!-- Modal- Delete Teacher -->
                                                <div class="modal" id="delete{{teacher.id}}" tabindex="-1" aria-labelledby="myModalLabel1" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <h5 class="modal-title">Teacher: {{teacher.first_name}} {{teacher.last_name}}</h5>
                                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true"></span>
                                                          </button>
                                                        </div>
                                                        <div class="modal-body">
                                                          
                                                        <p>Are you sure you want to delete this teacher?</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                       <form action="{% url 'delete_teacher' teacher.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="submit" class="btn btn-outline-danger" value="Delete">
                                                       </form>
                                                          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                              </table>
                        </div>
                      </p>
                    </div>
                </div>
                {% else %}
                <h5 class="alert alert-light ms-4 me-4 ">No Teacher Records</h5>
                {% endif %}        
            </div>
        </div>
      

        {% endblock %}