{% extends "students/base.html" %}

{% block body%}

<h3 class="text-center m-4"> Edit Student Fees
</h3>
{% if success %}
<div class="alert alert-dismissible alert-success">
  Student Fees Updated successfully 
 <a href="{% url 'view-monthly-fees' %}" class="alert-link">Go To Student Monthly Fees Records.</a>.
  </div>
{%else%}
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card border-warning mb-3" >
            <div class="card-header"><i class="fa-solid fa-pen-to-square fa-lg"></i> Update Student Fees Record</div>
            <div class="card-body">
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <button type="submit" class="btn btn-outline-success">Update</button>
                        <a href="{% url 'view-monthly-fees' %}" class="btn btn-outline-secondary"> Cancel</a>
                    </form>
            </div>
          </div>
    </div>
</div>
{%endif%}
{% endblock %}